<div class="w3-row w3-padding-64" id="about">
    <div class="foto">
     <img class="image" src="assets/img/logo.png" alt="Table Setting">
    </div>

    <div class="sobre">
      <h1 class="w3-center">Sobre nós</h1><br>
      <h5 class="w3-center">Tradição com filmes desde 1978</h5>
      <p class="w3-large">5 amigos na decada de 70 resolveram estudar cinema e entrar nesse mundo, com isso abrimos nossa empresa buscando expandir esta paixão com outras pessoas, começamos com locadoras mas com a evolução da internet fomos nos atualizando assim criando nossa plataforma que abrange mais de 5 milhões de filmes e séries no catalogo sendo a número um no Brasil.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Tratando os usuarios com respeito e sempre buscando o bem pra comunidade cinematográfica.</p>
    </div>
  </div>