<div class="categorias">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Categorias de filmes</h1><br>

      <button class="bnt romance"><a class="Lista1" [routerLink]="['/lista']">Romance</a></button>
        <p class="w3-text-grey">Esse gênero possui um enredo que gira em torno do relacionamento amoroso entre os protagonistas da história. Os filmes apresentam desafios enfrentados em um relacionamento amoroso como tema principal da história.</p><br>
   
    
      <button class="bnt comedia"><a class="Lista2" [routerLink]="['/lista']">Comédia</a></button>
      <p class="w3-text-grey">Uma comédia cinematográfica é uma classificação de filme com humor ou que pretende provocar o riso da audiência.</p><br>
   

    <button class="bnt acao"><a class="Lista3" [routerLink]="['/lista']">Ação</a></button>
      <p class="w3-text-grey">Geralmente, os filmes de ação contam com lutas, guerras e confrontos, envolvendo efeitos especiais e muita ação, assim como o próprio nome já diz.</p><br>
  

    <button class="bnt drama"><a class="Lista4" [routerLink]="['/lista']">Drama</a></button>
      <p class="w3-text-grey">No cinema e na televisão, drama é uma categoria de ficção narrativa (ou semificção) que pretende ser mais séria do que humorística.</p><br>
    

    <button class="bnt terror"><a class="Lista5" [routerLink]="['/lista']">Terror</a></button>
      <p class="w3-text-grey">Terror é um gênero literário, cinematográfico ou musical, que está sempre muito ligado à fantasia e à ficção especulativa, e é criado com intuito de causar medo, aterrorizar.</p>
    </div> 
    </div>   