<div class="lista">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Filmes</h1><br>
      <div><h4>Projeto X</h4>
      <p>Sinopse:</p>
      <p class="w3-text-grey">Filme acompanha a vida de três alunos, aparentemente anônimos, do último ano do colegial. Eles decidem entrar para a história com uma idéia bastante inocente: fazer uma festa que ninguém vai esquecer… mas nada poderia prepará-los para o que poderia vir a tornar esta festa. No vídeo caseiro, cenas inusitadas como um carro na piscina são provas de que a festa não saiu como planejado.</p><br>
      <img src="assets/img/projetoX.jpg" alt="" width="300">
      </div>
      
      
      <div><h4>Velozes e Furiosos</h4>
      <p>Sinopse:</p>
      <p class="w3-text-grey">Domenic Toretto é o líder de uma gangue de corridas de ruas em Los Angeles que está sendo investigado pela polícia por roubo de equipamentos eletrônicos. Para investigá-lo é enviado Brian Spindler, que se infiltra na gangue na intenção de descobrir se Toretto é realmente o autor dos crimes e se há alguém mais por trás deles</p><br>
      <img src="assets/img/velozes.jpeg" alt="" width="300">
      </div>


      <div><h4>Um Porto Seguro</h4>
      <p>Sinopse:</p>
      <p class="w3-text-grey">Katie se muda para uma pequena cidade tentando levar uma vida discreta. Ela acaba cativando o viúvo Alex, engatando com ele um romance. Todavia, a forasteira esconde um segredo que pode abalar a promissora relação.</p><br>
      <img src="assets/img/porto.webp" alt="" width="300">
      </div>


      <div><h4>Gente Grande</h4>
      <p>Sinopse:</p>
      <p class="w3-text-grey">Velhos amigos de infância se reúnem em função da morte do antigo treinador de basquete deles. Suas esposas e filhos descobrem que o passar do tempo não trouxe a esses marmanjos necessariamente maturidade.</p><br>
      <img src="assets/img/genteGrande.jpg" alt="" width="300">
      </div>
      </div>